### Lesson 2

--> List  
--> Accessing Elements in a List  
--> Modifying Elements in a List  
--> Adding Elements to a List  
--> Inserting Elements into a List  
--> Removing Elements from Lists  
--> Sorting a List  
--> Printing a List in Reverse Order  
--> Length of the List  
--> Reverse Indexing
--> Using For Loops On List  
--> After a for loop  
--> range() Function    
--> Making List of Numbers  
--> Simple Statistics with List of Number  
--> Slicing in a List  
--> Using for loops with Slicing  
--> Copying list

### List

In [3]:
numbers = [1, 2, 3.3, 4.4] # List are enclosed in [] brackets
                           # List can contain combination of int, float and string together
numbers

[1, 2, 3.3, 4.4]

In [4]:
cars = ['BMW','Mustang','Lamborghini']
cars

['BMW', 'Mustang', 'Lamborghini']

In [8]:
list_items = ['BMW','mustang','Lamborghini',1 , 3.14,'Toyota Supra']  
list_items

['BMW', 'mustang', 'Lamborghini', 1, 3.14, 'Toyota Supra']

### Accessing elements in a list

In [5]:
# This is called as indexing 
list_items[0]  # This gives the  element present at the 0th position of list_items

'BMW'

In [9]:
list_items[1] # This gives the element present at the 1st index of list_items

'mustang'

In [7]:
list_items[4]  # this gives the element present at the 4th index of list_items

3.14

In [11]:
print(list_items[1].title()) # Gives the element present at the first index of list_items and also capitalizes the first letter of the word due to the title()

Mustang

In [12]:
# we can access one element from a list and combine it in a sentence 

message = "I own a " + list_items[1].title()  # We are combining a sentence and an element present at first index of the list_items  
print(message)

I own a Mustang

In [13]:
# you can even do this 

print("I own a ",list_items[1].title()) # We are combining a sentence and an element present at first index of the list_items

I own a  Mustang

### Modifying Elements in list

In [14]:
print(list_items)

['BMW', 'mustang', 'Lamborghini', 1, 3.14, 'Toyota Supra']

In [15]:
list_items[3] = 'Ferrari'
print(list_items)

['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 'Toyota Supra']

In [16]:
list_items[5] = 1000
print(list_items)

['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000]

### Adding elements to a list

In [18]:
# append() --> adds new element at the end of the list 

print(list_items)
list_items.append("Dodge Charger")
print(list_items)

['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000]
['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger']

In [19]:
print(list_items)  
list_items.append(1000)
print(list_items) 
# Note : List can contain duplicates

['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger']
['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger', 1000]

In [20]:
Subjects = []   # This is an empty list

print(Subjects)
Subjects.append("Data Structures and Algorithms")
Subjects.append("Data Base Management Systems")
Subjects.append("Operating Systems")
Subjects.append("Computer Networks")
print(Subjects)

[]
['Data Structures and Algorithms', 'Data Base Management Systems', 'Operating Systems', 'Computer Networks']

### Inserting elements into a list

In [22]:
# insert(index_number, value)  ->  Using the insert() we can place the value at a specific position rather than adding the value to the end of the list

print(Subjects)
Subjects.insert(2,"Design Analysis and Algorithms")  # We are adding Design Analysis and Algorithms to the 2nd index of the list Subjects
print(Subjects)

['Data Structures and Algorithms', 'Data Base Management Systems', 'Design Analysis and Algorithms', 'Operating Systems', 'Computer Networks']
['Data Structures and Algorithms', 'Data Base Management Systems', 'Design Analysis and Algorithms', 'Design Analysis and Algorithms', 'Operating Systems', 'Computer Networks']

In [24]:

print(list_items)
list_items.insert(0,"1") # Here we are inserting an element in the 0th index of list_items --> and 1 here is a string not an integer
print(list_items)

['BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger', 1000]
['1', 'BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger', 1000]

### Removing elements from lists

In [25]:
# del --> using the del keyword you can remove any item from a list if you know its position 

print(list_items)
del list_items[2] # deletes the value of mustang
print(list_items)

['1', 'BMW', 'mustang', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger', 1000]
['1', 'BMW', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger', 1000]

In [26]:
print(list_items)
del list_items[5] # deletes the value of 1000 that is present in the 5th value
print(list_items)

['1', 'BMW', 'Lamborghini', 'Ferrari', 3.14, 1000, 'Dodge Charger', 1000]
['1', 'BMW', 'Lamborghini', 'Ferrari', 3.14, 'Dodge Charger', 1000]

In [29]:
# pop() --> By using this method we are able to remove the last element of a list. Moreover, the item that is popped out from the list can be used again 

print(Subjects)
Subjects.pop()
print(Subjects)

['Data Structures and Algorithms', 'Data Base Management Systems', 'Design Analysis and Algorithms', 'Design Analysis and Algorithms', 'Operating Systems']
['Data Structures and Algorithms', 'Data Base Management Systems', 'Design Analysis and Algorithms', 'Design Analysis and Algorithms']

In [30]:
print(Subjects)
popped_sub = Subjects.pop()
print(Subjects)
print(popped_sub)

['Data Structures and Algorithms', 'Data Base Management Systems', 'Design Analysis and Algorithms', 'Design Analysis and Algorithms']
['Data Structures and Algorithms', 'Data Base Management Systems', 'Design Analysis and Algorithms']
Design Analysis and Algorithms

In [32]:
print("I received 'A' Grade in ",popped_sub)

I received 'A' Grade in  Design Analysis and Algorithms

In [34]:
# We can also use index numbers to remove an item using pop

print(list_items)
print(list_items.pop(0)) # Removes the element present at 0th index 
print(list_items)

['1', 'BMW', 'Lamborghini', 'Ferrari', 3.14, 'Dodge Charger', 1000]
1
['BMW', 'Lamborghini', 'Ferrari', 3.14, 'Dodge Charger', 1000]

In [38]:
# remove() --> If you do not know the index of an element in the list but you know the name, then by using the remove() you can remove that element

print(list_items)
list_items.remove('BMW')  # removes BMW from the list
print(list_items)

['BMW', 'Lamborghini', 'Ferrari', 3.14, 'Dodge Charger']
['Lamborghini', 'Ferrari', 3.14, 'Dodge Charger']

In [42]:
too_expensive = 'Ferrari'
print(cars)
cars.remove(too_expensive)
print(cars)

['BMW', 'Mustang', 'Lamborghini', 'Ford Mustang', 'Fortuner', 'Buggati', 'Ferrari', 'Ferrari']
['BMW', 'Mustang', 'Lamborghini', 'Ford Mustang', 'Fortuner', 'Buggati', 'Ferrari']

### Sorting a list

In [43]:
# sort() --> The sort() arranges the list in ascending order --> The order of the list is permenantly changed
print(cars)
cars.sort()
print(cars)

['BMW', 'Mustang', 'Lamborghini', 'Ford Mustang', 'Fortuner', 'Buggati', 'Ferrari']
['BMW', 'Buggati', 'Ferrari', 'Ford Mustang', 'Fortuner', 'Lamborghini', 'Mustang']

In [49]:
# sorted() --> The sorted() arranges the list in ascending order --> The order of the list is temporarily changed 
# sorted() does not work on hetrogenous data 

print(list_items) # original list 
print(sorted(list_items)) # sorted list
print(list_items) # original list

['Lamborghini', 'Ferrari', '3.14', 'Dodge Charger']
['3.14', 'Dodge Charger', 'Ferrari', 'Lamborghini']
['Lamborghini', 'Ferrari', '3.14', 'Dodge Charger']

### Printing a list in reverse order

In [53]:
print(cars) # This prints the original order of the list 
cars.reverse() # This reverses the order of the list [descending order], it permenantly changes the order of the list 
print(cars)

['BMW', 'Buggati', 'Ferrari', 'Ford Mustang', 'Fortuner', 'Lamborghini', 'Mustang']
['Mustang', 'Lamborghini', 'Fortuner', 'Ford Mustang', 'Ferrari', 'Buggati', 'BMW']

In [55]:
print(list_items)
list_items.reverse()
print(list_items)

['Lamborghini', 'Ferrari', '3.14', 'Dodge Charger']
['Dodge Charger', '3.14', 'Ferrari', 'Lamborghini']

### Length of the list

In [56]:
# len() --> gives the length of the list --> total number of elements present 
print(cars)
print(len(cars))

['Mustang', 'Lamborghini', 'Fortuner', 'Ford Mustang', 'Ferrari', 'Buggati', 'BMW']
7

In [57]:
print(list_items)     # ['Dodge Charger', '3.14', 'Ferrari', 'Lamborghini']
print(len(list_items))#       1             2         3           4

['Dodge Charger', '3.14', 'Ferrari', 'Lamborghini']
4

### Reverse Indexing

In [58]:
print(cars)

['Mustang', 'Lamborghini', 'Fortuner', 'Ford Mustang', 'Ferrari', 'Buggati', 'BMW']

In [59]:
print(cars[-1]) # This gives the value of the last element present in the list of cars [BMW]

print(cars[-3]) # This gives the value of the 3rd last element present in the list of cars [Ferrari]

BMW
Ferrari

In [60]:
print(list_items)

['Dodge Charger', '3.14', 'Ferrari', 'Lamborghini']

In [61]:
print(list_items[-2]) # this gives the element 2nd last element [Ferrari]

Ferrari

### Using For Loops On List

In [62]:
football_stars = ['Ronaldo','Kaka','Benzema','Ramos','Pepe','Casillas']  # this is the list of football_stars
for players in football_stars:    # this stores the names of football_stars in a variable players
                                  # The for loop executes from the start value Ronaldo to the last value casillas and then the for loop stops 
    print(players)

Ronaldo
Kaka
Benzema
Ramos
Pepe
Casillas

In [63]:
gym_boys = ['Arnold Schwarzenegger','Ronnie Coleman','Chris Bumstead','Jeff Nippard','David Laid']
for gym in gym_boys:
    print(gym)

Arnold Schwarzenegger
Ronnie Coleman
Chris Bumstead
Jeff Nippard
David Laid

In [64]:
# Lets break down the gym_boys code just above this comment
# 1 - the list is created by the name gym_boys
# 2 - in the for loop there is a variable gym which is empty and the first element of gym_boys is stored [Arnold Schwarzenegger]
# 3 - Then the next print statement is executed [Arnold Schwarzenegger]

# 4 - Then the loop goes to the next name [Ronnie Coleman] this is stored in the gym next 
# 5 - Then the print statement executes [Ronnie Coleman]

# 5 - these steps go on until the last value 
# 6 - The last value David Laid is stored in the gym variable
# 7 - this is then printed [David Laid]
# 8 - now when the loop is runned again the gym_boys does not contain any value so the execution of the for loop stops

In [65]:
animals = ['cat','lion','tiger','crocodile','monkey','giraffee']
for animal in animals:
    print(animal)

cat
lion
tiger
crocodile
monkey
giraffee

In [68]:
# Now lets motivate each gym boy in the list 

for gym in gym_boys:
    print(gym.title(),'keep going, oneeee morreeee reeepppp !!!')
    print("Pump! Pump! Pump!\n")

Arnold Schwarzenegger keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Ronnie Coleman keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Chris Bumstead keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Jeff Nippard keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

David Laid keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

### After a for loop

In [70]:
for gym in gym_boys:
    print(gym.title(),'keep going, oneeee morreeee reeepppp !!!')
    print("Pump! Pump! Pump!\n")
print("Amazing work guys !! ") # This will print after the for loop is completed 
print("Keep it up !")

Arnold Schwarzenegger keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Ronnie Coleman keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Chris Bumstead keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Jeff Nippard keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

David Laid keep going, oneeee morreeee reeepppp !!!
Pump! Pump! Pump!

Amazing work guys !!
Keep it up !

### range() Function

In [71]:
for value in range(1,6): # range starts from 1 and ends at 5
    print(value)

1
2
3
4
5

In [72]:
for i in range(10): # This starts at 0 [because 0 is a default start point] and ends at 9 
    print(i)

0
1
2
3
4
5
6
7
8
9

### Making List of Numbers

In [73]:
numbers = list(range(1,6))  # the range() creates a list of numbers from 1 to 5 and these numbers are converted to list 
                            # The list() converts the numbers into a list
print(numbers)

[1, 2, 3, 4, 5]

In [74]:
num = list(range(1,50,2)) # we can even skip numbers using the range() 
                          # This code gives all the alternative numbers between 1-50
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [75]:
square_num = []   # This is an empty list 
for num in range(1,11):
    square=num**2          # Squaring the num and storing it in a variable square
    square_num.append(square) # appending the value stored in square into the list 
print(square_num) # We get the updated list consisting of squares from 1-10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
# Another way of writting the above code 
square_num = []
for num in range(1,11):
    square_num.append(num**2)
print(square_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
sum_num = [] # This is an empty list
for num in range(1,11):
    add = num + num    # We are adding the num value twice and storing it in a variable add 
    sum_num.append(add) # We are updating the values stored in add into the list sum_num 
print(sum_num) # We get the list as the sum of the number itself

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Simple Statistics with List of Number

In [79]:
digits = [1,2,3,4,5,6,7,8,9]

In [81]:
print(min(digits)) # Gives the minimum value of the list 
print(max(digits)) # Gives the maximum value of the list
print(sum(digits)) # Gives the sum of all the digits

1
9
45

In [84]:
# Finding the odd numbers between 1-11
num = []
for n in range(1,12,2):
    num.append(n)
print(num)

[1, 3, 5, 7, 9, 11]

### Slicing in a List

In [86]:
print(cars)

['Mustang', 'Lamborghini', 'Fortuner', 'Ford Mustang', 'Ferrari', 'Buggati', 'BMW']

In [87]:
# [start_index: stop_index: step_count]
print(cars[0:3])  # Gives the values present at index 0,1 and 2 
print(cars[1:4])  # Gives the values present at index 1,2,3, and 4

['Mustang', 'Lamborghini', 'Fortuner']
['Lamborghini', 'Fortuner', 'Ford Mustang']

In [89]:
print(cars[:5]) # Gives the values present at index 0,1,2,3 and 4
                # If start_index is not provided, the default value taken is 0 
    
print(cars[4:]) # Gives the values starting from index 4 to the end 
                # If end_index is not provided, the default value taken is length of the list

['Mustang', 'Lamborghini', 'Fortuner', 'Ford Mustang', 'Ferrari']
['Ferrari', 'Buggati', 'BMW']

In [107]:
# negative slicing

print(cars[-3:]) # This gives the values of cars from the last value upto the 3rd last value in the list 

print(cars[-4:-1]) # This gives the values of cars from second last value upto the 4th last value in the list

['Ferrari', 'Buggati', 'BMW']
['Ford Mustang', 'Ferrari', 'Buggati']

### Using for loops with slicing

In [95]:
print(football_stars)

['Ronaldo', 'Kaka', 'Benzema', 'Ramos', 'Pepe', 'Casillas']

In [100]:
print("My first 3 choices -")
for players in football_stars[:3]:

    print(players.upper())

My first 3 choices -
RONALDO
KAKA
BENZEMA

### Copying list

In [113]:
Mine_favorite_food = ["Butter Chicken",'Chicken Biryani','Chicken Khorma','Pizza'] 
print(Mine_favorite_food)
frnds_fav_food = Mine_favorite_food[:] # The [:] includes all the values from the Mine_favorite_food and stores it in the new list 
print(frnds_fav_food)

['Butter Chicken', 'Chicken Biryani', 'Chicken Khorma', 'Pizza']
['Butter Chicken', 'Chicken Biryani', 'Chicken Khorma', 'Pizza']