## The Begining of Python

--> print()  
--> Variables  
--> Strings  
--> String Methods  
    -> upper    
    -> lower    
    -> title    
--> Concatenation  
--> Some extra things  
--> Avoiding type errors   
--> Stripping extra spaces  
--> Numbers  
--> Integer  
--> Float

### print()

In [2]:
print("Hello World")    # The print() is used to display the output of whatever is written inside of it 
                        # Displays the text "Hello World" as output

Hello World

In [3]:
print("Good Morning : ") # Displays the text Good Morning : as output

Good Morning :

### Variables

In [5]:
message = "Good Morning " # The string Good Morning is stored inside a variable message 
print(message)            # prints the string that is stored in the message

Good Morning

In [6]:
text="It's 5 am" 
print(text)

It's 5 am

In [7]:
a = 6      # You can also store integers in the variable
print(a)

6

In [8]:
b = 7.5 # You can also store floats in the variable 
print(b)

7.5

### Strings

In [10]:
# strings are always written in quotation marks - ' ' , " ", ''' '''

message = 'Hello World'
message1 = "Hello World"
message2 = ''' Hello World
Welcome to todays class on Python Basics'''    # the ''' '''  are used if your string contains paragraph or are used for multi-line strings 

print(message)
print(message1)
print(message2)

Hello World
Hello World
 Hello World
Welcome to todays class on Python Basics

In [11]:
message = 'We are learning "Python" '  # In a single quote string if you want to specify quotes to a word then you need to use " "
message1 = "I live in 'India' "   # In a double quote string if you want to specify quotes to a word then you need to use ' '

print(message)
print(message1)

We are learning "Python"
I live in 'India'

### String methods

### upper()

In [13]:
message = "Hello guys, what day is it today?"
print(message.upper())  # The upper() basically converts each letter in a string to uppercase

HELLO GUYS, WHAT DAY IS IT TODAY?

### lower()

In [14]:
message1 = "Well Guys, DO YOU THINK PYTHON iS easy ?? "
print(message1.lower()) # The lower() basically converts each letter in a string to lowercase

well guys, do you think python is easy ??

### title()

In [19]:
message2 ="good nigHT fellas, It is 2am aNd I am leaRNing coding "
print(message2.title())  # The title() basically converts the first letter of every word to uppercase and the remaining letters of the word to lowercase

Good Night Fellas, It Is 2Am And I Am Learning Coding

### Concatination

In [23]:
print(message +' '+message1)  # The '+' is used to combine two or more strings

Hello guys, what day is it today? Well Guys, DO YOU THINK PYTHON iS easy ??

In [26]:
old_string1 = "Good Morning Fellas !! "
old_string2 = "I am Mohammed Adnan. "
old_string3 = "Today is Monday :("

new_string = old_string1 + old_string2 + old_string3

print(new_string)

Good Morning Fellas !! I am Mohammed Adnan. Today is Monday :(

In [28]:
# You can even combine methods and concatination 

first_name = 'mohammed'
last_name = 'Adnan'

print(first_name.title() +" "+ last_name)
print(first_name.upper()+" "+ last_name.upper())

Mohammed Adnan
MOHAMMED ADNAN

### Some extra things

In [30]:
# '\n'  --> Shifts to a new line
# '\t'  --> Adds white spaces to the line

print("Hello I am your python trainer")        # Code without using \n and \t
print("Hello \n \tI am your python trainer !") # Code while using \n and \t
                                                # So in this code after Hello, it moves to the new line because of \n 
                                                # then there are some white spaces added due to \t

Hello I am your python trainer
Hello
 	I am your python trainer !

In [34]:
message = "It's a beautiful day" # Here when I am using an apostrophe it contains a single quote, therefore the string should be enclosed in double quotes 
print(message)

It's a beautiful day

### Avoiding Type Errors

In [47]:
age = 22
# print("Hello, I am "+ age+ " Years old")  this will generate an error because the age is an interger and not a string

TypeError: can only concatenate str (not "int") to str

In [48]:
# So to solve this we use -- str() --> this converts an integer or float value to string 

print("Hello, I am "+ str(age)+ "years old !")

Hello, I am 22years old !

In [49]:
print("Hello, I am ",age, "years old !") # This is another way of doing it so here the ',' automatically converts the int to string

Hello, I am  22 years old !

### stripping extra spaces

In [33]:
message = '   GOOD MORNING !!' 
message1 = "GOOD MORNING !!       "
message2 = "            GOOD MORNING !!            "
print("Original:",message,'\n')
print("striped:",message.lstrip()) # lstrip  --> removes the white blank spaces present on the left side

print("\nOriginal:",message,'\n')
print("striped:",message1.rstrip()) # rstrip --> removes the white blank spaces present on the right side 

print("\nOriginal:",message,'\n')
print("striped:",message2.strip()) # strip --> removes the white blank spaces present from both the sides

Original:    GOOD MORNING !!

striped: GOOD MORNING !!

Original:    GOOD MORNING !!

striped: GOOD MORNING !!

Original:    GOOD MORNING !!

striped: GOOD MORNING !!

### Numbers

In [35]:
a = 10 
print(a)

10

In [36]:
# Here both the numbers are integers 

a = 2   
b = 3 
print(a+b) # The result we get is an integer

5

In [37]:
# Here both the numbers are float 
# float is a decimal value

a = 20.2
b = 100.1
print(a+b) # The result we get is a float

120.3

In [38]:
# One number is an integer and one is a float
a = 20.2
b = 100
print(a+b) # The result will be a float

120.2

### Integers

In [41]:
a = 100
b = 2

In [44]:
print(a+b) # Addition 
print(a-b) # Subtraction
print(a*b) # Multiplication
print(a/b) # Division [Provides Quotient]
print(a%b) # Mod [Provides the remainder]
print(a**b) # Power [a -> base, b -> power of]
print((a+b)*(a-b)) # Expression which works using BODMAS Rules

15.2
5.199999999999999
51.0
2.04
0.1999999999999993
110408.08031999996
79.03999999999999

### Float

In [43]:
a = 10.2
b = 5.0

In [45]:
print(a+b) # Addition 
print(a-b) # Subtraction
print(a*b) # Multiplication
print(a/b) # Division [Provides Quotient]
print(a%b) # Mod [Provides the remainder]
print(a**b) # Power [a -> base, b -> power of]
print((a+b)*(a-b)) # Expression which works using BODMAS Rules

15.2
5.199999999999999
51.0
2.04
0.1999999999999993
110408.08031999996
79.03999999999999